.grid-container {
    margin: 0 auto;
    max-width: 75px;
    display: grid;
    grid-template-rows: 25px 25px 25px;
    grid-template-columns: 25px 25px 25px;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 5px;

}

header {
    text-align: center;
}

#pwhite {
    color: white;
}

h1,
h2,
p {
    text-align: center;
    font-family: "Lucida Console", "Courier New", monospace;
}

ul {
    list-style-type: none;
    text-align: center;
    font-size: large;
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:focus {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

a {
    text-align: center;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#darkmode {
    text-align: right;

}

#darkmodeicon {
    width: 35px;
    height: 35px;

}

#darkmodeicon:hover {
    cursor: pointer;
}

#coin {
    height: 50px;
    width: 50px;
}

#coinimg {
    margin: 0 auto;
    text-align: center;
    padding-bottom: 5px;

}

#turncall {
    text-align: center;
    padding-bottom: 15px;
}


#coin:hover {
    -webkit-transform: scale(1.5);
    transition: 1s;
}

#players {
    padding-top: 25px;
    text-align: center;
}